@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    font-size: 14px;

    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(195, 100%, 50%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);

    --LT-Toggle: hsl(230, 22%, 74%);
    --DT-Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    --LT-Bottom-BG: hsl(0, 0%, 100%);
    --LT-Top-BG: hsl(225, 100%, 98%);
    --LT-Card-BG: hsl(227, 47%, 96%);
    --LT-Dark-Grayish-Blue: hsl(228, 12%, 44%);
    --LT-Very-Dark-Blue: hsl(230, 17%, 14%);

    --DT-Bottom-BG: hsl(230, 17%, 14%);
    --DT-Top-BG: hsl(232, 19%, 15%);
    --DT-Card-BG: hsl(228, 28%, 20%);
    --DT-Desaturated-Blue: hsl(228, 34%, 66%);
    --DT-White: hsl(0, 0%, 100%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Footer Section */
.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 700;
}