@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    font-size: 14px;

    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);

    --Facebook: hsl(195, 100%, 50%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

    --Toggle: hsl(230, 22%, 74%);
    --Main-BG: hsl(0, 0%, 100%);
    --Top-BG: hsl(225, 100%, 98%);
    --Card-BG: hsl(227, 47%, 96%);
    --Text-Blue: hsl(228, 12%, 44%);
    --Text: hsl(230, 17%, 14%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --Main-BG: hsl(230, 17%, 14%);
    --Top-BG: hsl(232, 19%, 15%);
    --Card-BG: hsl(228, 28%, 20%);
    --Text-Blue: hsl(228, 34%, 66%);
    --Text: hsl(0, 0%, 100%);
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    color: var(--Text);
    background-color: var(--Main-BG);
}

/* Header Section */
header {
    background-color: var(--Top-BG);
    height: 30vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
}
header h1 {
    font-size: 2.8em;
}

header p {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--Text-Blue);
    margin-top: .2em;
}

#toggle {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 30px;
    color: var(--Toggle);
}

#toggle input[type="checkbox"] {
    display: none;
}

#toggle .check {
    position: relative;
    display: block;
    width: 65px;
    height: 30px;
    background: var(--Toggle);
    border-radius: 15px;
    float: right;
    margin-left: .8em;
}

#toggle .check::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    background: var(--Main-BG);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: 0.5s;
}

#toggle input[type="checkbox"]:checked ~ .check {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

#toggle input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(34px);
}

/* Main Section */
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -15vh;
}

main .card {
    width: 350px;
    height: 300px;
    background-color: var(--Card-BG);
    border-radius: 5px;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .title {
    display: flex;
    align-items: center;
}

.card .title img {
    width: 30px;
}

.card .title p {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--Text-Blue);
    margin-left: 1em;
}

.card .numbers {
    margin: 2em 0;
}

.card .numbers h2 {
    font-size: 5em;
    color: var(--Text);
}

.card .numbers span {
    color: var(--Text-Blue);
    font-size: 1.2em;
    letter-spacing: .4em;
}

.card .updates {
    font-size: 1.2em;
    font-weight: 700;
}

.card .updates img {
    width: 20px;
    margin-right: 1em;
}

.up {
    color: var(--Lime-Green);
}

.down {
    color: var(--Bright-Red);
}

.card-f {
    border-top: 5px solid var(--Facebook);
}

.card-t {
    border-top: 5px solid var(--Twitter);
}

.card-i::before {
    content: "";
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--Instagram);
    border-radius: 5px 5px 0 0;
    top: -40px;
}

.card-y {
    border-top: 5px solid var(--YouTube);
}

/* Footer Section */
.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 700;
}